[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nonebot2 = {extras = ["fastapi"], version = "*"}
nonebot-adapter-onebot = "*"
requests = "*"
bs4 = "*"
fake-useragent = "*"
arrow = "*"
aiohttp = "*"
diskcache = "*"
picimagesearch = "*"
tenacity = "*"
yarl = "*"
cachetools = "*"

[dev-packages]

[requires]
python_version = "3.11"
